Repository dbeley/nixos-benchmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

ruff-check:
  name: ruff check
  entry: ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true
  args:
  - --no-error-summary

typos:
  name: typos
  entry: typos --write-changes
  language: system
  pass_filenames: true

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

trailing-whitespace:
  name: trim trailing whitespace
  entry: bash -c 'for file in "$@"; do sed -i "s/[[:space:]]*$//" "$file"; done' --
  language: system
  pass_filenames: true

end-of-file-fixer:
  name: fix end of files
  entry: bash -c 'for file in "$@"; do test -n "$(tail -c 1 "$file")" && echo >> "$file" || true; done' --
  language: system
  pass_filenames: true

check-added-large-files:
  name: check for added large files
  entry: bash -c 'for file in "$@"; do size=$(stat -c%s "$file" 2>/dev/null || stat -f%z "$file" 2>/dev/null || echo 0); if [ "$size" -gt 500000 ]; then echo "File $file is larger than 500KB"; exit 1; fi; done' --
  language: system
  pass_filenames: true

refacto benchmark presets
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/base.py
  nixos_benchmark/benchmarks/clpeak.py
  nixos_benchmark/benchmarks/cryptsetup.py
  nixos_benchmark/benchmarks/ffmpeg.py
  nixos_benchmark/benchmarks/fio.py
  nixos_benchmark/benchmarks/glmark2.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/iperf3.py
  nixos_benchmark/benchmarks/netperf.py
  nixos_benchmark/benchmarks/openssl.py
  nixos_benchmark/benchmarks/pigz.py
  nixos_benchmark/benchmarks/sevenzip.py
  nixos_benchmark/benchmarks/sqlite_mixed.py
  nixos_benchmark/benchmarks/sqlite_speedtest.py
  nixos_benchmark/benchmarks/stress_ng.py
  nixos_benchmark/benchmarks/sysbench_cpu.py
  nixos_benchmark/benchmarks/sysbench_memory.py
  nixos_benchmark/benchmarks/tinymembench.py
  nixos_benchmark/benchmarks/vkmark.py
  nixos_benchmark/benchmarks/x264.py
  nixos_benchmark/benchmarks/zstd.py
  nixos_benchmark/cli.py
  nixos_benchmark/models.py
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

move constants
  nixos_benchmark/benchmarks/base.py
  nixos_benchmark/benchmarks/ffmpeg.py
  nixos_benchmark/benchmarks/fio.py
  nixos_benchmark/benchmarks/glmark2.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/iperf3.py
  nixos_benchmark/benchmarks/netperf.py
  nixos_benchmark/benchmarks/openssl.py
  nixos_benchmark/benchmarks/pigz.py
  nixos_benchmark/benchmarks/sqlite_mixed.py
  nixos_benchmark/benchmarks/sqlite_speedtest.py
  nixos_benchmark/benchmarks/stress_ng.py
  nixos_benchmark/benchmarks/sysbench_cpu.py
  nixos_benchmark/benchmarks/sysbench_memory.py
  nixos_benchmark/benchmarks/vkmark.py
  nixos_benchmark/benchmarks/x264.py
  nixos_benchmark/benchmarks/zstd.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

add more benchmarks
  README.md
  flake.nix
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/hashcat.py
  nixos_benchmark/benchmarks/john.py
  nixos_benchmark/benchmarks/lz4.py
  nixos_benchmark/benchmarks/stockfish.py
  nixos_benchmark/benchmarks/stressapptest.py
  nixos_benchmark/benchmarks/wrk.py
  nixos_benchmark/benchmarks/x265.py
Due: ruff-check, ruff-format, mypy, typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

fix benchmarks
  nixos_benchmark/benchmarks/cryptsetup.py
  nixos_benchmark/benchmarks/ffmpeg.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/iperf3.py
  nixos_benchmark/benchmarks/pigz.py
  nixos_benchmark/benchmarks/sqlite_speedtest.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

remove iperf3
  flake.nix
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/iperf3.py
Due: ruff-check, ruff-format, mypy, typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

refacto benchmark classes, update html results view
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/base.py
  nixos_benchmark/benchmarks/clpeak.py
  nixos_benchmark/benchmarks/cryptsetup.py
  nixos_benchmark/benchmarks/ffmpeg.py
  nixos_benchmark/benchmarks/fio.py
  nixos_benchmark/benchmarks/glmark2.py
  nixos_benchmark/benchmarks/hashcat.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/john.py
  nixos_benchmark/benchmarks/lz4.py
  nixos_benchmark/benchmarks/netperf.py
  nixos_benchmark/benchmarks/openssl.py
  nixos_benchmark/benchmarks/pigz.py
  nixos_benchmark/benchmarks/sevenzip.py
  nixos_benchmark/benchmarks/sqlite_mixed.py
  nixos_benchmark/benchmarks/sqlite_speedtest.py
  nixos_benchmark/benchmarks/stockfish.py
  nixos_benchmark/benchmarks/stress_ng.py
  nixos_benchmark/benchmarks/stressapptest.py
  nixos_benchmark/benchmarks/sysbench_cpu.py
  nixos_benchmark/benchmarks/sysbench_memory.py
  nixos_benchmark/benchmarks/tinymembench.py
  nixos_benchmark/benchmarks/types.py
  nixos_benchmark/benchmarks/vkmark.py
  nixos_benchmark/benchmarks/wrk.py
  nixos_benchmark/benchmarks/x264.py
  nixos_benchmark/benchmarks/x265.py
  nixos_benchmark/benchmarks/zstd.py
  nixos_benchmark/cli.py
  nixos_benchmark/models.py
  nixos_benchmark/output.py
  nixos_benchmark/system_info.py
  nixos_benchmark/utils.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

refacto benchmark classes, update html results view
  .typos.toml
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/hashcat.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/lz4.py
  nixos_benchmark/benchmarks/pigz.py
  nixos_benchmark/benchmarks/stockfish.py
  nixos_benchmark/benchmarks/stressapptest.py
  nixos_benchmark/cli.py
  nixos_benchmark/models.py
  nixos_benchmark/output.py
  nixos_benchmark/system_info.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

Update README.md, more refacto
  README.md
  nixos_benchmark/benchmarks/base.py
  nixos_benchmark/benchmarks/clpeak.py
  nixos_benchmark/benchmarks/cryptsetup.py
  nixos_benchmark/benchmarks/ffmpeg.py
  nixos_benchmark/benchmarks/fio.py
  nixos_benchmark/benchmarks/glmark2.py
  nixos_benchmark/benchmarks/hashcat.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/john.py
  nixos_benchmark/benchmarks/lz4.py
  nixos_benchmark/benchmarks/netperf.py
  nixos_benchmark/benchmarks/openssl.py
  nixos_benchmark/benchmarks/pigz.py
  nixos_benchmark/benchmarks/sevenzip.py
  nixos_benchmark/benchmarks/sqlite_mixed.py
  nixos_benchmark/benchmarks/sqlite_speedtest.py
  nixos_benchmark/benchmarks/stockfish.py
  nixos_benchmark/benchmarks/stress_ng.py
  nixos_benchmark/benchmarks/stressapptest.py
  nixos_benchmark/benchmarks/sysbench_cpu.py
  nixos_benchmark/benchmarks/sysbench_memory.py
  nixos_benchmark/benchmarks/tinymembench.py
  nixos_benchmark/benchmarks/vkmark.py
  nixos_benchmark/benchmarks/wrk.py
  nixos_benchmark/benchmarks/x264.py
  nixos_benchmark/benchmarks/x265.py
  nixos_benchmark/benchmarks/zstd.py
  nixos_benchmark/cli.py
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

display system info for each rows
  README.md
  nixos_benchmark/cli.py
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

update AGENTS.md with latest changes
  AGENTS.md
Due: typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

format timestamp differently
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

html output : rework orders, rename columns
  nixos_benchmark/benchmarks/john.py
  nixos_benchmark/output.py
  nixos_benchmark/utils.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

fix packaging
  .envrc
  flake.nix
Due: typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

add furmark benchmarks, rework presets
  README.md
  flake.nix
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/base.py
  nixos_benchmark/benchmarks/furmark.py
  nixos_benchmark/benchmarks/types.py
  nixos_benchmark/cli.py
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

fix version display
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

add elapsed time
  nixos_benchmark/cli.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

add flake8
  .pre-commit-config.yaml
  flake.nix
  nixos_benchmark/benchmarks/base.py
  nixos_benchmark/benchmarks/clpeak.py
  nixos_benchmark/benchmarks/cryptsetup.py
  nixos_benchmark/benchmarks/ffmpeg.py
  nixos_benchmark/benchmarks/fio.py
  nixos_benchmark/benchmarks/furmark.py
  nixos_benchmark/benchmarks/glmark2.py
  nixos_benchmark/benchmarks/hashcat.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/john.py
  nixos_benchmark/benchmarks/lz4.py
  nixos_benchmark/benchmarks/netperf.py
  nixos_benchmark/benchmarks/openssl.py
  nixos_benchmark/benchmarks/pigz.py
  nixos_benchmark/benchmarks/sevenzip.py
  nixos_benchmark/benchmarks/sqlite_mixed.py
  nixos_benchmark/benchmarks/sqlite_speedtest.py
  nixos_benchmark/benchmarks/stockfish.py
  nixos_benchmark/benchmarks/stress_ng.py
  nixos_benchmark/benchmarks/stressapptest.py
  nixos_benchmark/benchmarks/sysbench_cpu.py
  nixos_benchmark/benchmarks/sysbench_memory.py
  nixos_benchmark/benchmarks/tinymembench.py
  nixos_benchmark/benchmarks/vkmark.py
  nixos_benchmark/benchmarks/wrk.py
  nixos_benchmark/benchmarks/x264.py
  nixos_benchmark/benchmarks/x265.py
  nixos_benchmark/benchmarks/zstd.py
  nixos_benchmark/models.py
  pyproject.toml
Due: ruff-check, ruff-format, mypy, typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

add html_only flag
  README.md
  nixos_benchmark/cli.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

fix import
  nixos_benchmark/benchmarks/base.py
  nixos_benchmark/benchmarks/clpeak.py
  nixos_benchmark/benchmarks/cryptsetup.py
  nixos_benchmark/benchmarks/ffmpeg.py
  nixos_benchmark/benchmarks/fio.py
  nixos_benchmark/benchmarks/furmark.py
  nixos_benchmark/benchmarks/glmark2.py
  nixos_benchmark/benchmarks/hashcat.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/john.py
  nixos_benchmark/benchmarks/lz4.py
  nixos_benchmark/benchmarks/netperf.py
  nixos_benchmark/benchmarks/openssl.py
  nixos_benchmark/benchmarks/pigz.py
  nixos_benchmark/benchmarks/sevenzip.py
  nixos_benchmark/benchmarks/sqlite_mixed.py
  nixos_benchmark/benchmarks/sqlite_speedtest.py
  nixos_benchmark/benchmarks/stockfish.py
  nixos_benchmark/benchmarks/stress_ng.py
  nixos_benchmark/benchmarks/stressapptest.py
  nixos_benchmark/benchmarks/sysbench_cpu.py
  nixos_benchmark/benchmarks/sysbench_memory.py
  nixos_benchmark/benchmarks/tinymembench.py
  nixos_benchmark/benchmarks/vkmark.py
  nixos_benchmark/benchmarks/wrk.py
  nixos_benchmark/benchmarks/x264.py
  nixos_benchmark/benchmarks/x265.py
  nixos_benchmark/benchmarks/zstd.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

clpeak: fix result parsing
  nixos_benchmark/benchmarks/clpeak.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

cli: rename preset arg to presets
  AGENTS.md
  README.md
  nixos_benchmark/cli.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

preset: add glmark2 to balanced preset
  nixos_benchmark/benchmarks/__init__.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

add sample output image
  README.md
  docs/sample_output.png
Due: typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

README.md: add graph
  README.md
  docs/cpu-7zip-benchmark.png
Due: typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

add geekbench, bonnie++, iozone, add graphs feature
  flake.nix
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/bonnie.py
  nixos_benchmark/benchmarks/geekbench.py
  nixos_benchmark/benchmarks/iozone.py
  nixos_benchmark/benchmarks/types.py
  nixos_benchmark/output.py
  nixos_benchmark/system_info.py
Due: ruff-check, ruff-format, mypy, typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

report: remove graph notice
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

refacto scoring classes, fix geekbench parsing
  README.md
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/geekbench.py
  nixos_benchmark/benchmarks/scoring.py
  nixos_benchmark/benchmarks/types.py
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

preset: update balanced preset
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/scoring.py
  nixos_benchmark/benchmarks/types.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

add transfer script
  transfer.sh
Due: typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

delete vkmark benchmark
  README.md
  flake.nix
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/scoring.py
  nixos_benchmark/benchmarks/types.py
  nixos_benchmark/benchmarks/vkmark.py
Due: ruff-check, ruff-format, mypy, typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

detect more GPU names
  nixos_benchmark/system_info.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

run pre-commit
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

use global category order variable
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

pre-commit: use ty instead of mypy
  .pre-commit-config.yaml
  flake.nix
  nixos_benchmark/benchmarks/base.py
  pyproject.toml
Due: ruff-check, ruff-format, mypy, typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

deps: update flake.lock
  flake.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files

fix PYTHONPATH
  flake.nix
Due: typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

update README
  README.md
Due: typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

cli: add wait-between CLI argument (default to 5 seconds)
  nixos_benchmark/cli.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

benchmarks: delete unused comments
  nixos_benchmark/benchmarks/ffmpeg.py
  nixos_benchmark/benchmarks/fio.py
  nixos_benchmark/benchmarks/glmark2.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/netperf.py
  nixos_benchmark/benchmarks/openssl.py
  nixos_benchmark/benchmarks/pigz.py
  nixos_benchmark/benchmarks/sqlite_mixed.py
  nixos_benchmark/benchmarks/stress_ng.py
  nixos_benchmark/benchmarks/sysbench_cpu.py
  nixos_benchmark/benchmarks/sysbench_memory.py
  nixos_benchmark/benchmarks/x264.py
  nixos_benchmark/benchmarks/zstd.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  typos: any file but: (?x)^(
    \.git/.*|
    results/.*|
    \.direnv/.*|
    venv/.*|
    __pycache__/.*|
    .*\.egg-info/.*|
    flake\.lock
)$

  nixpkgs-fmt: any of: \.nix$
  trailing-whitespace: any file but: (?x)^(
    \.git/.*|
    results/.*
)$

  end-of-file-fixer: any file but: (?x)^(
    \.git/.*|
    results/.*
)$

  check-added-large-files: any file but: (?x)^(
    \.git/.*|
    results/.*
)$

