Repository dbeley/nixos-benchmark: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mypy, typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

ruff-check:
  name: ruff check
  entry: ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format
  entry: ruff format
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true
  args:
  - --no-error-summary

typos:
  name: typos
  entry: typos --write-changes
  language: system
  pass_filenames: true

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  pass_filenames: true

trailing-whitespace:
  name: trim trailing whitespace
  entry: bash -c 'for file in "$@"; do sed -i "s/[[:space:]]*$//" "$file"; done' --
  language: system
  pass_filenames: true

end-of-file-fixer:
  name: fix end of files
  entry: bash -c 'for file in "$@"; do test -n "$(tail -c 1 "$file")" && echo >> "$file" || true; done' --
  language: system
  pass_filenames: true

check-added-large-files:
  name: check for added large files
  entry: bash -c 'for file in "$@"; do size=$(stat -c%s "$file" 2>/dev/null || stat -f%z "$file" 2>/dev/null || echo 0); if [ "$size" -gt 500000 ]; then echo "File $file is larger than 500KB"; exit 1; fi; done' --
  language: system
  pass_filenames: true

output: move to dedicated html template
  nixos_benchmark/output.py
  nixos_benchmark/template.html
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

deps: update flake.lock
  flake.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files

Add more benchmarks to svg exports
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/scoring.py
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

Change benchmarks parameters to make them more accurate
  AGENTS.md
  nixos_benchmark/benchmarks/ffmpeg.py
  nixos_benchmark/benchmarks/fio.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/lz4.py
  nixos_benchmark/benchmarks/netperf.py
  nixos_benchmark/benchmarks/sqlite_mixed.py
  nixos_benchmark/benchmarks/stockfish.py
  nixos_benchmark/benchmarks/sysbench_cpu.py
  nixos_benchmark/benchmarks/sysbench_memory.py
  nixos_benchmark/benchmarks/x264.py
  nixos_benchmark/benchmarks/x265.py
  nixos_benchmark/benchmarks/zstd.py
  nixos_benchmark/cli.py
  nixos_benchmark/system_checks.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

WIP2
  STEAM_GAMES.md
  nixos_benchmark/benchmarks/__init__.py
  nixos_benchmark/benchmarks/scoring.py
  nixos_benchmark/benchmarks/steam_base.py
  nixos_benchmark/benchmarks/steam_generic.py
  nixos_benchmark/benchmarks/steam_sotr.py
  nixos_benchmark/benchmarks/types.py
  nixos_benchmark/cli.py
  nixos_benchmark/output.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

steam-base: add availability check
  nixos_benchmark/benchmarks/steam_base.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

lint
  nixos_benchmark/benchmarks/steam_base.py
  nixos_benchmark/benchmarks/steam_generic.py
  nixos_benchmark/benchmarks/steam_sotr.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

deps: update flake.lock
  flake.lock
  flake.nix
Due: typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

bonnie++: fix result parsing
  nixos_benchmark/benchmarks/bonnie.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

iozone: fix version parsing
  nixos_benchmark/benchmarks/iozone.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

wrk: fix version parsing
  nixos_benchmark/benchmarks/wrk.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

clpeak: add customer error handling
  nixos_benchmark/benchmarks/clpeak.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

hashcat: fix runner
  nixos_benchmark/benchmarks/hashcat.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

john-benchmark: fix version parsing
  nixos_benchmark/benchmarks/john.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

utils: handle non-UTF8 output
  nixos_benchmark/utils.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

docs: update documentation 2026-06-05
  README.md
Due: typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

fix(template.html): correct JS regex for number parsing in sort
  nixos_benchmark/template.html
Due: typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

refactor(benchmarks): extract common try/except error handling into BenchmarkBase.parse_metrics
  nixos_benchmark/benchmarks/base.py
  nixos_benchmark/benchmarks/cryptsetup.py
  nixos_benchmark/benchmarks/glmark2.py
  nixos_benchmark/benchmarks/netperf.py
  nixos_benchmark/benchmarks/openssl.py
  nixos_benchmark/benchmarks/sevenzip.py
  nixos_benchmark/benchmarks/stockfish.py
  nixos_benchmark/benchmarks/sysbench_cpu.py
  nixos_benchmark/benchmarks/sysbench_memory.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

feat(system_checks): add swap usage, background CPU load, and disk space checks
  nixos_benchmark/system_checks.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

feat(cli): add --verbose and --no-raw-output flags
  AGENTS.md
  nixos_benchmark/cli.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

style: fix lint warnings — remove unused imports, f-string, and contextlib.suppress
  nixos_benchmark/benchmarks/cryptsetup.py
  nixos_benchmark/benchmarks/glmark2.py
  nixos_benchmark/benchmarks/netperf.py
  nixos_benchmark/benchmarks/openssl.py
  nixos_benchmark/benchmarks/sevenzip.py
  nixos_benchmark/benchmarks/stockfish.py
  nixos_benchmark/benchmarks/sysbench_cpu.py
  nixos_benchmark/benchmarks/sysbench_memory.py
  nixos_benchmark/cli.py
  nixos_benchmark/system_checks.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

refactor(benchmarks): apply parse_metrics pattern to remaining 12 benchmarks
  nixos_benchmark/benchmarks/clpeak.py
  nixos_benchmark/benchmarks/ffmpeg.py
  nixos_benchmark/benchmarks/hashcat.py
  nixos_benchmark/benchmarks/ioping.py
  nixos_benchmark/benchmarks/john.py
  nixos_benchmark/benchmarks/lz4.py
  nixos_benchmark/benchmarks/stress_ng.py
  nixos_benchmark/benchmarks/stressapptest.py
  nixos_benchmark/benchmarks/tinymembench.py
  nixos_benchmark/benchmarks/wrk.py
  nixos_benchmark/benchmarks/x264.py
  nixos_benchmark/benchmarks/x265.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

chore: maintenance cleanup
  flake.lock
  nixos_benchmark/benchmarks/openssl.py
  nixos_benchmark/benchmarks/scoring.py
  nixos_benchmark/benchmarks/x264.py
  nixos_benchmark/benchmarks/x265.py
  nixos_benchmark/output.py
  nixos_benchmark/system_checks.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

stockfish: use all CPU cores in bench
  nixos_benchmark/benchmarks/stockfish.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

geekbench: capture results offline via local proxy
  nixos_benchmark/benchmarks/geekbench.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

sysbench-memory: benchmark writes instead of cached reads
  nixos_benchmark/benchmarks/sysbench_memory.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

iozone: run on real disk instead of tmpfs
  nixos_benchmark/benchmarks/iozone.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

geekbench: auto-detect GPU backend
  nixos_benchmark/benchmarks/geekbench.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

bonnie++: run on real disk and handle unmeasurable values
  nixos_benchmark/benchmarks/bonnie.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

geekbench: move to geekbench 7
  nixos_benchmark/benchmarks/geekbench.py
Due: ruff-check, ruff-format, mypy, typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

furmark: fix segfault
  flake.nix
  nixos_benchmark/benchmarks/furmark.py
Due: ruff-check, ruff-format, mypy, typos, nixpkgs-fmt, trailing-whitespace, end-of-file-fixer, check-added-large-files

chore: update dependencies
  flake.lock
Due: trailing-whitespace, end-of-file-fixer, check-added-large-files

agents: add common runtime of benchmarks
  AGENTS.md
Due: typos, trailing-whitespace, end-of-file-fixer, check-added-large-files

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  typos: any file but: (?x)^(
    \.git/.*|
    results/.*|
    \.direnv/.*|
    venv/.*|
    __pycache__/.*|
    .*\.egg-info/.*|
    flake\.lock
)$

  nixpkgs-fmt: any of: \.nix$
  trailing-whitespace: any file but: (?x)^(
    \.git/.*|
    results/.*
)$

  end-of-file-fixer: any file but: (?x)^(
    \.git/.*|
    results/.*
)$

  check-added-large-files: any file but: (?x)^(
    \.git/.*|
    results/.*
)$

